<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- evitar ataques de Cross Site Scripting (injeção de dados)-->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <!-- bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    
    <!--O electron usa o título na janela-->
    <title>Clientes</title>
</head>
<body>
    <br>
    <div class="container">
        <form class="row g-3" id="frmCliente">
            <!-- Caixa de input  -->
            <div class="col-md-6">
                <input type="text" class="form-control" id="inputSearch" maxlength="30" spellcheck="false">
            </div>

            <!-- Botão de pesquisa de cliente CRUD Read -->
            <div class="col-md-4">
                <button type="button" class="btn btn-dark" id="btnRead" onclick="buscarCliente()">Buscar</button>
            </div>

            <hr class="border border-primary border-1 opacity-75">

            <!-- id MongoDB -->
            <div class="col-md-6">
                <input type="text" class="form-control" id="inputIdCliente" placeholder="id">
                <br>
            </div>

            <!-- Nome do cliente -->
            <div class="col-md-8">
                <label for="inputNameCliente" class="form-label">Nome</label>
                <input type="text" class="form-control" id="inputNameCliente" maxlength="30" spellcheck="false" required>
            </div>

            <!-- Telefone do cliente -->
            <div class="col-md-4">
                <label for="inputPhoneCliente" class="form-label">Telefone</label>
                <input type="tel" class="form-control" id="inputPhoneCliente" required maxlength="15" spellcheck="false">
            </div>

            <!-- Email do cliente -->
            <div class="col-12">
                <label for="inputAddressCliente" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputAddressCliente" maxlength="30" spellcheck="false">
                <br>
            </div>

            <!-- Botões -->
            <div class="col-12">
                <button type="submit" class="btn btn-success" id="btnCreate">Adicionar</button>
                <button type="button" class="btn btn-warning" id="btnUpdate" onclick="editarCliente()">Editar</button>
                <button type="button" class="btn btn-danger" id="btnDelete" onclick="deletarCliente()">Excluir</button>
                <button type="reset" class="btn" id="btnReset" onclick="resetForm()"></button>
            </div>
        </form>
    </div>

    <!-- bootstrap -->
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="cliente.js"></script>
</body>
</html>