<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- evitar ataques de Cross Site Scripting (injeção de dados)-->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <!-- bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">

    <!--O electron usa o título na janela-->
    <title>Sobre</title>
</head>

<body>
    <div class="container">
        <h1>CONEST - Controle de estoque</h1>
        <h3>Autor: Luís Antônio de Paula Lima</h3>
        <h3>Versão 1.0</h3>
        <h3>Sob a licença MIT <span class="branco">____________</span><img src="../public/img/MIT.png" height="50px" width="50px"></h3>
    </div>

    <footer class="botao">
        <button type="button" onclick="window.close()">Ok</button>
    <footer>

    <!-- bootstrap -->
    <script src="../public/js/bootstrap.min.js"></script>
</body>

</html>