* {
    margin: 0;
    padding: 0;
}

/* esconder o id do cliente */
#inputId {
    display: none;
}

/* Inserir imagem no botão reset */
#btnReset {
    width: 40px;
    height: 40px;
    background-image: url('../img/clear.png');
    background-size: cover;
    border: none;
    margin-left: 30px;
}

body {
    background-color: #d4d4d4;
}

.container2 {
    display: flex;
    flex-direction: row;
}

.container2 ul {
    list-style: none;
}

.branco {
    color: #d4d4d4;
}

#resLogradouro {
    background-color: white;
}

#resBairro {
    background-color: white;
}

#resLocalidade {
    background-color: white;
}

#resUF {
    background-color: white;
}

#resDDD {
    background-color: white;
}

/* Footer */

footer {
    display: flex;
    background-color: #141414;
    color: #d4d4d4;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

footer img {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    margin-right: 10px;
}

footer p {
    margin-left: 10px;
    margin-top: 11px;
}

.botao {
    background-color: #d4d4d4;
}

.botao button {
    display: flex;
    margin-left: 383px;
    align-items: center;
    width: 50px;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 6px;
}

#btnBuscar {
    margin-top: 33px;
}

#btnCreate {
    margin-top: -25px;
}

#btnUpdate {
    margin-top: -25px;
}

#btnDelete {
    margin-top: -25px;
}

#btnReset {
    margin-top: -25px;
}